@tailwind base;
@tailwind components;
@tailwind utilities;
/* =====================================================
   ROOT VARIABLES
===================================================== */

:root {
  --Family-Body: "DIN Pro", sans-serif;
}

/* =====================================================
   FONT
===================================================== */

/* @font-face {
    font-family: "DIN Pro";
    src: url("/src/assets/fonts/DINPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
} */

/* =====================================================
   GLOBAL CONTAINER
===================================================== */
* {
  font-family: var(--Family-Body, "Din Pro");
}

/* .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 834px) {
  .container {
    max-width: 1420px;
    margin-right: auto;
    margin-left: auto;
  }
} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Small Laptop */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}

/* Large Desktop (1440px screens) */
@media (min-width: 1440px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1420px;
  }
}

/* =====================================================
   COMMON FLEX UTILITIES
===================================================== */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ================================
   PRODUCT FINDER COMMON CLASSES
================================ */

@layer components {

  .pf-option-section {
    @apply pf-flex pf-flex-col pf-items-center pf-gap-[30px] pf-self-stretch container;
  }

  .pf-option-title {
    @apply pf-text-black pf-text-center pf-font-bold pf-text-[18px] pf-leading-[24px] md:pf-text-[24px] md:pf-leading-[32px];
  }

  .pf-section-main-heading {
    @apply pf-text-black pf-text-center pf-font-bold pf-text-[28px] pf-leading-[36px] md:pf-text-[36px] md:pf-leading-[44px] lg:pf-text-[42px] lg:pf-leading-[50px] pf-mb-0;
  }

  .pf-small-text {
    @apply pf-text-black pf-text-[12px] pf-leading-[18px] pf-m-0;
  }

  .pf-sub-section-heading {
    @apply pf-text-black pf-font-bold pf-text-[18px] pf-leading-[24px] lg:pf-text-[24px] lg:pf-leading-[32px] pf-w-full pf-mb-0;

    font-family: var(--Family-Body, "Din Pro");
    text-align: center;
  }

  .pf-bg-uneeda-primary {
    @apply pf-bg-[#FFE411];
  }

  .pf-bg-uneeda-hover-primary {
    @apply pf-bg-[#ecd100];
  }

  .pf-bg-disable {
    @apply pf-bg-[#D8D8D8];
  }

}

.pf-section-spacing-padding {
  position: relative;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
}

.pf-section-main {
  max-width: var(--grid-width, 1380px);
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  position: relative;
}

.pf-section-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  align-self: stretch;
}

@media only screen and (min-width: 768px) {
  .pf-section-main {
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 80px;
    margin-right: 80px;
  }
}

.products.loading .loading-overlay,
.pf-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.pf-product-loading .loading-overlay--sticky {
padding-top: 100px;
}

.loading-overlay--sticky {
  display: flex;
  align-items: center;
  justify-content: center;
}


.pf-loader {
  border: 4px solid #dbdada;
  border-radius: 50%;
  border-top: 4px solid #000000;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.pf-loader.small{
  width: 20px;
  height: 20px;
  border: 2px solid #dbdada;
  border-top: 2px solid #000000;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pf-row {
  padding: 0 11px;
}

@media only screen and (min-width: 768px) {
  .pf-row {
    padding: 0 35px;
  }
}

.pf-row {
  max-width: var(--grid-width-row, 1380px);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.pf-product-result {
  padding: 30px 0;
  background: #F6F6F6;
}

.pf-no-scrollbar::-webkit-scrollbar {
  display: none;
}
.pf-no-scrollbar {
  scrollbar-width: none;
}